@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body {
	margin-top: 10px;
}

.stream {
	margin-left: 180px;
	white-space: nowrap;
}

nav {
	position: fixed;
	margin-left: 20px;
	width: 150px;
	height: 100%;
	background-color: #FFF;
	opacity: .9;
	z-index: 10;
}

.main {
	display: inline-block;
	max-height: 90%;
}

.logo {
	width: 100px;
}

li {
	font-size: 150%;
	list-style-type: none;
}

.template {
    display: none;
}

.slideshow {
	width: 100%;
}

.galleryRow {
	margin-top: 20px;
	padding: 10px;
	position: absolute;
	top: 0px;
	left: 180px;
	
}

.galleryItem {
	display: inline;
	padding: 5px;

}

.mod-pic {
	padding-left: 5px;
}

.about {
	margin-bottom: 20px;
}

.about:hover {
	 -webkit-filter: brightness(120%);
}

a#active {
	color: white;
	background-color: #C0C0C0;
}

.modelstream {
	display: inline-block;
	max-height: 90%;
	width: auto;
}

.description {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 300%;
}


.header {
	color: white;
	font-weight: 500;
	font-family: 'Script MT Bold';
	padding-left: 80px;
	font-size: 350%;
	margin-top: 10px;
}

.container {
	margin-bottom: 50px;
	margin-left: 180px;
}

.slide-container {
	margin-left: 180px;
	width: 80%;
}

footer {
	position: fixed;
	left: 5px;
	bottom: 0px;
	z-index: 20;
	opacity: .5;
}