nav ul {
    list-style: none;           /* remove all list behaviours */ 
    text-align: left;         /* centre the links */
    padding: 5px 0;        /* create gap above and below the links */
    margin: 0; 
    font-size: 0;           /* eliminate whitespace between links */
}
nav ul li { 
    display: inline;        /* ..horizontally */ 
}
nav ul li a {
    text-decoration: none;      /* remove underline */
    display: inline-block;      /* so they don't break onto new lines 
                                    and obey padding */
    color: #777; 
    padding: 10px;          /* the key metric! */
    margin: 0 3px;          /* 6px gap between links */
    font-size: 16px;        /* re-instate (removed by ul-style) */
}
nav ul li a:hover {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #EEEEEE;     /* or background, etc. */
}